---
import Base from './Base.astro';

let title = Astro.props.title;
let description = Astro.props.description;

let katex = Astro.props.katex; 

let date = Astro.props.date;
let author = Astro.props.author;
---
<Base 
  title={title} 
  description={description}
  katex={katex}
>
  <header>
    <h1 style="margin:0">{title}</h1>
    {
      date &&
      <div style="font-size:0.9em">
        <span>{author ?? "Felipe Izolan"}</span> |
        <span>{date}</span>
      </div>
    }
  </header>
  <main>
    <slot />
  </main>
</Base>
