---
import Base from './Base.astro';

let title = Astro.props.title;
let description = Astro.props.description;

let katex = Astro.props.katex; 
let date = Astro.props.date;
---
<Base 
  title={title} 
  description={description}
  katex={katex}
>
  <header>
    <h1>{title}</h1>
    {date && <b>{date}</b>}
  </header>
  <main>
    <slot />
  </main>
</Base>
